/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$white_opaque: rgba(250, 250, 250, .3);
$dark: #1F7972;

html {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:    -moz-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:     -ms-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:      -o-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:         linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  font-family: 'Lato', sans-serif;
}

.panel-custom {
     background-color: #C9E3E3;  
}

.panel-heading {
  color: #000000;
}
.review_title {
    margin: 0 0 20px 0;
}

.previews {
    padding: 15px 0;
    border-bottom: 1px solid #EAEAEA;
.star-rating {
    padding-bottom: 8px;
}
  #notice {
    text-align: center;
    font-size: 0.6em;
    color: $dark;
    font-weight: 100;
    border: 1px solid white_opaque;
    padding: .5em 1em;
    border-radius: 5px;
    display: block;
    margin: 1em 25%;
  }


}

input[type="submit"] {
  background: white;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 4px;
  width: 25%;
  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;
  color: $dark;
  &:hover {
    background: $dark;
    color: white;
  }

}
.inputField input[type="text"], textarea {
  width: 100%;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250,250,250,.4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}
.inputField input[type="password"], textarea {
  width: 100%;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250,250,250,.4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}
.inputField input[type="email"], textarea {
  width: 100%;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250,250,250,.4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}

.inputField input[type="file"]{
  margin: .5em 2% 1em 0;
  outline: none;
  padding: 1em 2em;
  color: $dark;
}

label {
  color: $dark;
}

h1 {
  color: $dark;
}
h2 {
  color: $dark;
}

p{
  color: $dark;
}

.submitButton {
  background: $dark;
  outline: none;
  border: none;
  height: 40px;
  line-height:40px;
  border-radius: 4px;
  width: 40%;
  text-align: center;

  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;
  color: white;
  &:hover {
    background: white;
    color: $dark;
  }
}

.links {
  display: block;
  margin: 1.5em auto 0 auto;
  text-align: center;
  font-size: 1.5em;
  color: white;
  a {
    color: white;
  }
}
::-webkit-input-placeholder { color: $dark; }
